.pagination {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.page {
  cursor: pointer;
  margin: 0 8px;
  padding: 8px;
  border-radius: 4px;
}

.active {
  background-color: #1976d2;
  color: #fff;
}

.previous,
.next {
  cursor: pointer;
  margin: 0 8px;
  padding: 8px;
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.previous:hover,
.next:hover {
  background-color: #e0e0e0;
  border-radius: 4px;
}
